.App {
  text-align: center;
}

.page {
  margin: 20px 20px 20px 20px;
  border-color: red;
  border-style: solid;
}

/* ALL ABOUT DATAPICKER NAVBAR COMPONENT */
.data-picker-navbar-container {
  border-color: green;
  border-style: solid;
  margin: 20px auto 20px auto;
  padding:20px;
}


/*All about ChartPage component*/

.chart-page-container {
  border-color: blue;
  border-style: solid;
  padding: 20px;
}

.chart-container {
  position: relative; 
  width: 100%; 
}

.page-navbar-container {
  margin-bottom: 20px;
}

/*data empty label*/
.data-empty-label-container {
  position: inherit;
  z-index: 50;
  display: flex;
  justify-content: center;
  top: 200px;
  margin-left: 50px; /*chart y axis label is 50px width*/
}

/*All about grid page*/

.grid-page-container {
  border-color: blue;
  border-style: solid;
  padding: 20px;
}

.grid-menu-bar {
  margin-bottom: 20px;
}

.grid-input-range-fields-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.dropmenu{
  text-align: center;
  background-color: red;
}

/* all about icons */
.icon {
  height: 16px;
  width: 16px;
}